.homepage {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newforumBox { 
  display: flex;
  background: #c6cde7;
  padding: 20px;
  width: 500px;
  height: 78vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  position: relative;
}

.title h2 {
  margin: 0;
  color: #0e1d40;
}

.closeButton {
  position: absolute;
  top: -40px;
  right: -10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #0e1d40;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.mainContent label {
  align-self: flex-start; 
  margin-bottom: 4px;
  color: #0e1d40;
  font-weight: 600;  
  align-items: left;
}

.input, .textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #c9c9c9;
  align-items: left;
}

.textarea {
  height: 120px; 
  resize: vertical;
}

.errorText {
  color: red;
  margin-top: 8px;
}

.button {
  display: flex;
  position: relative;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px; 
}

.createButton {
  background: #0e1d40;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

