.backgroundPage {
  background: linear-gradient(180deg, #fefefe 2%, #A2AFE4 75%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start; 
  flex-direction: column;
}

.profileBanner {
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  display:flex;
  flex-direction: column;
}

.profileHeader {
  background: linear-gradient(90deg, #9eb2d4, #a0b6e1, #93a2ce);
  height: 20vh;                     
  min-height: 50px;
  padding: 40px 35px;
  color: white;
  display: flex;
  border-radius: 20px 20px;     
  margin-top: 35px;
  position: relative;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
} 

.profileInfo {
  display:flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
}

.profileName {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  padding-top:30px;
  margin: 0;
}

.profileRole {
  font-size: 1.3rem;
  font-weight:500;
  color: #fafbfe;
  margin: 0;           
  margin-top: 4px
}

.editButton {
  border-radius: 12px;
  color:#fafbfe;
  text-align: center;
  background: #7d8499;
  position: absolute;
  right: 35px;
  bottom: 20px;
  width: auto;
  padding: 10px 20px;
}

.title {
  font-weight: bolder;
  color:#0e1d40;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
} 

label { 
  font-weight: bold; 
  color: #230858;
  text-align: left;
}  

.tallModal {
  min-height: 700px;
  padding: 20px;
}

.formBox {
  padding: 25px;
  border-radius: 15px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.buttonContainer{
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.deleteButton {
  background-color: #d94e4e !important;
  border-color: #5a0d0d !important;
  color: white !important;
  border-radius: 12px;
  padding: 10px 25px;
}

.profileFooter {
  width: 100%;
  background: white;
  padding: 15px 0;
  border-radius: 0 0 20px 20px; 
  margin-top: 10px;
}

